requests==2.19.1
redis==2.10.6
pymongo==3.7.2
mongoengine==0.15.3
lxml==4.2.3
selenium==3.141.0
django==2.1.1
pyexecjs==1.5.1
python-json-logger==0.1.9
pillow==5.3.0
pytesseract==0.2.6
pycryptodome==3.7.2
xlrd==1.2.0